<form action="/register" method="post">
    <p>
        <lable for="email">email:</label>
        <input type="text" name="email" />
    </p>
    <p>
        <lable for="usrename">username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <lable for="password">password:</label>
        <input type="password" name="password" />
    </p>
    <input type="submit" value="Register">
</form>