
<% if logged_in? && session[:user_id] == @user.id %>
    <p>Welcome back, <%= @user.username %></p>
<% end %>
    <p>Username: <%= @user.username %></p>
    <p>Email: <%= @user.email %></p>

<h2>Recent Reviews</h2>

<h2>Bookshelf</h2>
