<h3>Success! The book is added to your favorite!</h3>

<div class="btn-group">
    <a href="/books/<%= @book.id %>" class="btn btn-default" >Back</a>
    <a href="/users/<%= @user.id %>/bookshelf" class="btn btn-default">Go to My Bookshelf</a>
</div>