<h1>Reviews</h1>

<br><br>

<table>
<tr>
    <th>username</th>
    <th>rating</th>
    <th>content</th>
</tr>
    <% @reviews.each do |review| %>
        <tr>
            <td><a href="/users/<%review.user_id%>"><%= User.find_by_id(review.user_id).username %></a></td>
            <td><%=review.rating%></td>
            <td><%=review.content%></td>
        </tr>
    <% end %>
</table>
