<h3>Rating: <%=@review.rating%></h3>
<h3>Review: <%=@review.content%></h3>


<% if session[:user_id] == @review.user_id %>
    <form action="/reviews/<%= @review.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="Delete">
        <input type="submit" value="delete review" class="btn btn-default" />
    </form>
<% end %>
<a href="/books/<%= @book.id %>" class="btn btn-default">Back</a>