<form action="/login" method="post">
    <p>
        <lable for="usrename">username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <lable for="password">password:</label>
        <input type="text" name="password" />
    </p>
    <input type="submit" value="Log In">
</form>