<form action="/login" method="post">
    <p>
        <lable for="usrename">Username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <lable for="password">Password:</label>
        <input type="password" name="password" />
    </p>
    <input type="submit" class="btn btn-default" value="Log In">
</form>
<form>
  <input type="button" value="Back" class="btn btn-default" onclick="history.back()">
</form>