<h1>amazereads</h1>
<h3>definitely not goodreads</h3>
<br><br>
<a href="/register">first time here? register now!</a>
<br><br>
<form action="/login" method="post">
    <p>
        <lable for="usrename">username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <lable for="password">password:</label>
        <input type="text" name="password" />
    </p>
    <input type="submit" value="Log In">
</form>
<br>

<a href="/books">All Books</a>
