<h1>amazereads</h1>
<h3>definitely not goodreads</h3>
<br><br>
<form action="/login" method="post">
    <p>
        <lable for="usrename">username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <lable for="password">password:</label>
        <input type="text" name="password" />
    </p>
    <input type="submit" value="Log In">
</form>
<br><br>
<form action="/register" method="post">
    <h3>first time here? register now!</h3>
    <br>
    <p>
        <lable for="email">email:</label>
        <input type="text" name="email" />
    </p>
    <p>
        <lable for="usrename">username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <lable for="password">password:</label>
        <input type="text" name="password" />
    </p>
    <input type="submit" value="Register">
</form>
